.menu {
  height: 100%;
  width: var(--icon-size);
  position: fixed;
  right: var(--menu-right-offset);
  z-index: 10;
}

.menu .link {
  height: var(--icon-size);
  width: var(--icon-size);
  position: absolute;
  top: calc(var(--icon-size) * -1);
  transition: all 0.5s linear;
}

.menu .link svg {
  height: 100%;
  width: 100%;
}

.menu .link:hover {
  transform: scale(1.1);
  transition: all 0.2s linear;
}

.menu .background {
  height: 0%;
  width: 2px;
  background: var(--secondary-color);
  position: absolute;
  right: calc(50% - 1px);
  transition: all 0.5s linear;
}
