.app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: var(--font-size-large);
}

/* Tablet and Desktop Styling */
@media only screen and (min-device-width: 480px) {
  .app {
    font-size: var(--font-size-small);
  }
}
