.app {
  height: 100%;
  font-size: var(--font-size-large);
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Tablet and Desktop Styling */
@media only screen and (min-device-width: 480px) {
  .app {
    font-size: var(--font-size-small);
  }
}
